@import "tailwindcss";




.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }



  /* Ajouter dans votre fichier CSS global */
.ant-carousel .slick-slide {
  padding: 8px 0;
}

.ant-carousel .slick-dots-bottom {
  bottom: -10px;
}